.Clock {
  height: 60px;
  margin-bottom: 10px;
  background-color: #efefef;
  border-radius: 10px;
  cursor: pointer;
}

.Clock .clock-name,
.Clock .clock-time,
.Clock .clock-date {
  height: 50px;
  float: left;
}

.clock-name {
  min-width: 220px;
  font-size: 20px;
  border-right: 1px solid #ccc;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  margin-top: 5px;
}

.clock-time {
  font-size: 40px;
  font-weight: 200;
  padding-left: 25px;
  padding-right: 12px;
  padding-top: 4px;
  font-family: 'Lekton';
}

.clock-date {
  font-size: 96%;
  font-weight: 300;
  padding-top: 14px;
  line-height: 1.2;
  font-family: 'Lekton';
}

.clock-delete {
  height: 50px;
  float: right;
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-left: 1px solid #ccc;
}

.clock-delete button {
  width: 100%;
  margin-top: 5px;
}

@media only screen and (max-width: 767px) {
  .Clock {
    height: auto;
    margin-bottom: 10px;
    background-color: #efefef;
    border-radius: 10px;
    cursor: pointer;
  }

  .clock-name {
    width: 92%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin-left: 4%;
    padding-left: 10px;
    float: none;
  }

  .clock-time {
    font-size: 35px;
    font-weight: 200;
    padding-left: 25px;
    padding-right: 12px;
    padding-top: 2px;
  }

  .clock-date {
    font-size: 95%;
    font-weight: 300;
    padding-top: 10px;
    line-height: 1.2;
  }

  .clock-delete {
    border: 0;
  }
}
